.conteiner-archive-component {
  margin: 10px 0 1rem 0;
}

.table-header-archive-content {
  background-color: rgb(246, 245, 245);
  color: rgb(232, 14, 14);
}

.table-header-archive-content th {
  color: rgb(157, 157, 157);
}
