@import '../../../variables.scss';

.operation-tab-content {
  border-bottom: 1px solid $blue-color-secondary;
  border-radius: 4px 4px 0 0;
  background-color: #ECF5FA;
  border: 1px solid rgba(0, 0, 0, 0.12);

  .MuiButtonBase-root:hover {
    background-color: $blue-color-secondary;
    border-radius: 4px 4px 0 0;
  }

  .MuiTabs-indicator {
    background-color: $blue-color
  }

  .Mui-selected {
    color: $blue-color !important;

  }
}