
.content-data-table{    
    overflow-x: auto;       
}

.display-border{
    border: solid 1px #ADADAD;
    border-radius: 3px;
    padding: 8px;
}

.p-datatable-row-expansion{
    background: #F5F5F5!important;
}