.page_base_content{    
    margin-bottom: 20px;
    padding: 5px 5px 5px 5px;
    background-color: white;    
}

.page_base_header{
    color:white;
    padding: 10px 10px 10px 15px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border-radius: 2px;
}

.agsi_theme_1{
    background-color: rgb(236, 245, 250)!important; 
  }


  /* .agsi-theme-1{
     background-color: $blue-color-bar!important; 
   } */