.header_accordion_conteiner{
  width: 100%;
  flex-direction: row!important;  
}

.header_accordion{  
  align-items: end;
  text-align: end;
  z-index: 99999;
}


.header_accordion_pin .css-i4bv87-MuiSvgIcon-root{
  font-size: 1.2rem;
}
