.save_component{
     /* position: absolute;    
     bottom: 0;    
     padding-bottom: 18px;
     padding-right: 30px; */    
    /* right: 0;     */
    text-align: end;
}

.save_component_item{
    margin-right: 5px;
}