.custom-data-table-content {
  overflow: auto;

}

.content-data-table-display-border {
  overflow-x: auto;
  border: solid 1px #ADADAD;
  border-radius: 3px;
  padding: 8px
}

.paginator-right {
  font-size: 12px;
  color: #69ABEC;
  font-weight: normal
}