@import './variables.scss';

.teste-global-style {
  color: blue;
  background-color: chartreuse;
}

.title-table-custom {
  width: 100%;
  background-color: aquamarine;
  border-radius: 4px 4px 0 0;
  margin-bottom: -6px;
  padding-bottom: 0;
  color: #008EBC !important;
  background-color: #ecf5fa !important;
  font-weight: 600 !important;
  padding-left: 1em;
  border-bottom: #008dbc2d 1px solid;
}

// Button 'Pesquisar' Filters search
.register-searchButton {
  display: flex;
  align-items: center;
}

.link-style {
  cursor: pointer;
  color: #008EBC;
  // text-decoration: underline;
}

.link-style:hover {
  text-decoration: underline;
}

// default Modal style
.modal-style {
  position: absolute;
  top: 30vh;
  left: 20%;
  // transform: translate(-50%; -50%);
  width: 60%;
  background-color: #fff;
  border: 1px solid #cdcccc;
  box-shadow: 4px;
  border-radius: 4px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  padding: 2rem;
}

.align-center {
  align-items: center;
}

.header-options-page {
  flex: none !important;
  display: flex !important;
  justify-content: flex-start !important;
  border-bottom: 1px solid #0000001f;
  margin-bottom: 15px;
  padding: 5px;

}

.footer-options-page {
  flex: none !important;
  display: flex !important;
  justify-content: flex-end !important;
  border-top: 1px solid #0000001f;
  margin-top: 15px;
  padding: 5px;
  gap: 5px;
}

.column-direction {
  flex-direction: column;
}

.divider-spaces {
  margin-top: 1em !important;
  margin-bottom: 8px !important;
  color: gray;
  font-style: italic;
}

.background-color-blue {
  background-color: $blue-color-secondary !important;
}

.title-table-custom {
  width: 100%;
  background-color: aquamarine;
  border-radius: 4px 4px 0 0;
  margin-bottom: -6px;
  padding-bottom: 0;
  color: #008EBC !important;
  background-color: #ecf5fa !important;
  font-weight: 600 !important;
  padding-left: 1em;
  border-bottom: #008dbc2d 1px solid;
}