.teste-global-style {
  color: blue;
  background-color: chartreuse;
}

.title-table-custom {
  width: 100%;
  background-color: aquamarine;
  border-radius: 4px 4px 0 0;
  margin-bottom: -6px;
  padding-bottom: 0;
  color: #008EBC !important;
  background-color: #ecf5fa !important;
  font-weight: 600 !important;
  padding-left: 1em;
  border-bottom: #008dbc2d 1px solid;
}