$window-980px: 980px;

$blue-color: #008EBC;
$blue-color-font: white;
$blue-color-bar:rgb(236, 245, 250);
$green-color:#2AAA8A;// #00A36C;
$gray-color: #6c757d;
$red-color:#DE3163;//#E0115F
$gray-color-background: #f5f5f5 ;//#f0f0f0; 
$transition: 0.4s; 
//#0074B7
//#60A3D9
// $blue-color: #1976d2;

